*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (max-width: 440px) {
  html {
    font-size: 13px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lacquer';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(121,9,65,1) 43%, rgba(173,0,255,1) 100%);
  overflow: hidden;
}

.showerthought {
  color: white;
  padding: 0px 7px;
  max-width: 900px;
}
.showerthought h1 {
  text-shadow: 0px 4px 5px rgba(0,0,0,0.5);
  font-size: 2rem;
}
.showerthought a {
  text-decoration: none;
  color: inherit;
}

.carousel {
  width: 100%;
  min-height: 300px;
  max-height: 75vh;
}
.carousel__slides {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  display: flex;
  position: relative;
}
.carousel .carousel__slide {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  flex: 1 0 100%;
  transition: opacity 2s ease;
}
.carousel .carousel__slide[aria-hidden="true"] {
  opacity: 0;
  transition-delay: -1s;
}

.carousel__button {
  border-radius: 50%;
  border: none;
  background: transparent;
  font-size: 0.5rem;
  text-transform: uppercase;
  padding: px 12px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  height: 50px;
  width: 50px;
}
.carousel__button:hover {
  background-color: rgba(0,0,0,0.2);
}

